<form class="relative flex flex-1" action="http://localhost:3000/todos" method="post">
    <label for="create-field" class="sr-only">Create a todo</label>
    <input id="create-field" class="block h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Create a todo..." type="text" name="title" />
    <button type="submit" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </button>
</form>