{{#each todos}}
    {{#if edit}}
        <form class="relative flex flex-1" action="http://localhost:3000/todos/edit/{{_id}}" method="post">
            <label for="create-field" class="sr-only">Edit a todo</label>
            <input id="editInput" class="block bg-gray-50 h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Editing... {{title}}" type="text" name="title" />
                <input id="editDateInput" class="block bg-gray-50 text-gray-400 border border-0 focus:ring-0 focus:outline-none sm:text-sm" type="date" name="dueAt" />

            <button type="submit" class="p-2.5  bg-gray-50 text-gray-400 hover:text-gray-500">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
        </form>
    {{/if}}
{{/each}}